body
{
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
}

#header h3
{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 75px;
   position:relative;
   top:20%;
   font-weight: 700;
   margin:0;
   
}
#header p
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    top:20%;
    text-align: center;
    position: relative;
}

#header
{
    width: 100%;
    position: fixed;
    height: 100%;
    top: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;

}

#content2
{
    background-color: black;
    color: white;
}

#content2 h2
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-left: 3%;
}

#content2 p
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  
}

#content2 a {
    color: white;
    text-decoration: none;
}

#sqr {
    height: 6px;
    margin-bottom: 10px;
    width: 150px;
    background-color: white;
}

#sqr2 {
    height: 6px;
   margin: 0;
   
    width: 100px;
    background-color: rgb(0, 0, 0);
}

#container
{
    background-color: black;
}

.parallax {
    /* The image used */
    background-image: url("donation_pic/holdhand.png");
    background-color: black;
    width: 100%;
    position: relative;
    height: 100%;
    top: 20%;
    background-size: contain;
    background-repeat: no-repeat;


    /* Set a specific height */
    min-height: 700px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content3 {
    margin: 0;
    padding: 0;
}

.content3.inside {
    padding: 10% 10% 0 10%;
    font-size: 20px;
    text-align: justify;
}

.content3.inside h1{
    font-weight: 700;
    color:red;
}

.content3.inside h3{
    font-weight: 600;
    padding-left: 3%;
}